@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto' , sans-serif;
}

/* -- Navbar styling -- */

.navbar-bg {
    background-color: #190061;
}

.navbar-brand {
    color: white;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.navbar li > a:hover {
    color: grey;
}

.navbar-nav > .active > a {
    color: grey;
    border-bottom: 2px solid grey;
}

body {
    background-color: #fafafa;
  }
  
  #header {
    margin-top: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  
  h2 {
    text-align: center;
  }
  
   p {
    text-align: center;
  }
  
  img {
    height: 250px;
    width: 100%;
    border-radius: 3%;
    object-fit: cover;
  }
  
  .img-size {
    height: 250px;
  }
  
  .img-size-four {
    height: 250px;
  }
  
  .box {
    height: 50px;
  }
  
  .icons {
    height: 150px;
    margin-top: 25px;
  }
  
  .fas {
    font-size: 50px;
    color: navy;
    margin-bottom:20px;
  }
  
  .center {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .box-two {
    height: 50px;
    border-bottom: 1px solid grey;
    margin-bottom: 25px;
  }

/* -- Footer styling -- */

.footer {
  font-family: 'Roboto', sans-serif;
  background-color:#190061;
  color: white;
  padding-top: 20px;
  padding-bottom: 5px;;
  text-align: center;
}

.fa {
color: white;
font-size: 25px;
padding-left: 25px;
padding-right: 25px;
padding-top: 2px;
}

.fa:hover {
color: grey;
}