@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: #fafafa;
  font-family: 'Roboto' , sans-serif;

 height: 100%;
 position: relative;
 min-height: 100vh; /* will cover the 100% of viewport */
 display: block;
 position: relative;
 padding-bottom: 200px;
 
}

/* -- Navbar styling -- */

.navbar-bg {
    background-color: #190061;
}

.navbar-brand {
    color: white;
    margin-left: 5px;
}

.nav-link {
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.navbar li > a:hover {
    color: grey;
}

.navbar-nav > .active > a {
    color: grey;
    border-bottom: 2px solid grey;
}

/* -- Header and Content -- */
  
  #header {
    margin-top: 100px;
    text-align: center;
    padding-top: 10px;
  }
  
  h2 {
    text-align: center;
    margin-top: 30px;
  }
  
  p {
    text-align: center;
  }

/* -- Images -- */
  
  img {
    height: 250px;
    width: 100%;
    border-radius: 3%;
    object-fit: cover;
  }
  
  .image-box {
    height: 250px;
    margin-top: 40px;
  }

  /* -- Text Box -- */

  .text-box {
    margin-top: 40px;
  }
  
  #divider {
    margin-top: 35px;
  }

/* -- Icons -- */
  
  .icons {
    height: 150px;
    margin-top: 25px;
  }
  
  .fas {
    font-size: 50px;
    color: navy;
  }
  
  .center {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .box {
    padding-bottom: 25px;
  }

/* -- Footer styling -- */

.footer {
  background-color:#190061;
  color: white;
  padding-top: 15px;
  padding-bottom: 5px;;
  text-align: center;

  position: absolute;
  bottom: 0;
}

.fa {
color: white;
font-size: 25px;
padding-left: 25px;
padding-right: 25px;
padding-top: 2px;
}

.fa:hover {
color: grey;
}