@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* -- Navbar styling -- */

.navbar-bg {
    background-color: #190061;
}

.navbar-brand {
    color: white;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.navbar li > a:hover {
    color: grey;
}

.navbar-nav > .active > a {
    color: grey;
    border-bottom: 2px solid grey;
}

/* -- Footer styling -- */

.footer {
    background-color:#190061;
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;;
    text-align: center;
}


body {
    background-color: #fafafa;
  }
  
  #sub-head {
    text-align: center;
    padding-top: 10px;
    margin-top: 100px;
  }
  
  .card-deck {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
   }
  
  .card-footer {
    background-color: navy;
  }
  
  .card-img-top {
    height: 250px;
  }
  
  .membership{
    background-color: grey;
  }