@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

/* -- Navbar styling -- */

.navbar-bg {
    background-color: #190061;
}

.navbar-brand {
    color: white;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.navbar li > a:hover {
    color: grey;
}

.navbar-nav > .active > a {
    color: grey;
    border-bottom: 2px solid grey;
}

#sub-head {
  text-align: center;
  padding-top: 10px;
  margin-top: 100px;
}

  .card-title {
    text-align: center;
  }
  
  img {
    height: 250px;
  }
  
  .left {
    text-align: center;
    background-color: #a57164;
  }
  
  .middle {
    text-align: center;
    background-color: #c0c0c0;
  }
  
  .right {
    text-align: center;
    background-color: #daa520;
  }
  
  i {
    font-size: 50px;
    color: #fafafa;
  }
  
  .card-deck {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
   }
  
  .card-img-top {
    height: 250px;
  }
  
  .membership{
    background-color: grey;
  }

/* -- Footer styling -- */

.footer {
    background-color:#190061;
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.fa-facebook {
  color: white;
}

.fa-instagram {
  color: white;
}

.card-row {
  height: 700px;
}