@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* -- Navbar styling -- */

.navbar-bg {
    background-color: #190061;
}

.navbar-brand {
    color: white;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.navbar li > a:hover {
    color: grey;
}

.navbar-nav > .active > a {
    color: grey;
    border-bottom: 2px solid grey;
}

/* -- Jumbotron styling -- */

.jumbotron {
    background-image: url("/images/gymbikes.png") ;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 75vh;
}

/* --  About Us Section -- */



.about {
    text-align: center;
    height: 200px;
    
}
  
  img {
    background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 300px;
     width: 100%;
     object-fit: cover;
  }
  
  h2 {
    padding-top: 50px;
    padding-left: 10px;
    text-decoration: underline;
    font-family: 'Verdana', sans-serif;
  }
  
  .map {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  
  h5 {
    font-weight: bold;
  }
  
  h5, p {
    margin-left: 40px;
  }
  
  .row {
    height: 300px;
  }
  
  .left {
    background-color: #fafafa;
  }
  
  .center {
    background-color: #fafafa;
    
  }
  
  .right {
    background-color: #fafafa;
    padding-top: 10px;
  }
  
  table {
    width: 85%;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid black;
    padding-bottom: 2px;
    text-align: center;
  }
  
  .head {
    background-color: navy;
    color: white;
    margin-bottom: 5px;
  }
  
  .sub {
    background-color: #fafafa;
    width: 100%;
  }
  

/* -- Footer styling -- */

.footer {
    background-color:#190061;
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;;
    text-align: center;
}



