@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
   font-family: 'Roboto', sans-serif;
   background-color: #fafafa;
}

/* -- Navbar styling -- */

.navbar-bg {
    background-color: #190061;
}

.navbar-brand {
    color: white;
    margin-left: 5px;
}

.nav-link {
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.navbar li > a:hover {
    color: grey;
}

.navbar-nav > .active > a {
    color: grey;
    border-bottom: 2px solid grey;
}

/* -- Jumbotron styling -- */

.hero {
    background-image: url("/assets/gymarea.jpg") ;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 500px;
}

/* --  About Us Section -- */

.about {
    text-align: center;
    height: 300px;
    padding-top: 50px;
    background-color: #fafafa;
}

/* --  Image Break Section -- */
  
.img {
    background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 300px;
     width: 100%;
     object-fit: cover;
  }

/* --  Opening Hours, Table Section -- */
  
  #hours-header {
    padding-top: 40px;
    padding-left: 20px;
    text-decoration: underline;
  }

  table {
    width: 85%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  th, td {
    border: 1px solid black;
    padding-bottom: 2px;
    text-align: center;
  }
  
  #table-header {
    background-color: navy;
    color: white;
    margin-bottom: 5px;
  }

/* --  Location Section -- */

  #location-header {
    padding-top: 40px;
    padding-left: 20px;
    text-decoration: underline;
  }

  .sub-location-header {
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
  }
  
  #address-info {
    padding-left: 25px;
  }

/* -- Map Section -- */
  
  .map {
    padding-top: 40px;
    margin-bottom: 50px;
  }
  
/* -- Footer styling -- */

.footer {
    font-family: 'Roboto', sans-serif;
    background-color:#190061;
    color: white;
    padding-top: 15px;
    padding-bottom: 5px;;
    text-align: center;
}

.fa {
  color: white;
  font-size: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
}

.fa:hover {
  color: grey;
}