@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* -- Navbar styling -- */

.navbar-bg {
    background-color: #190061;
}

.navbar-brand {
    color: white;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.navbar li > a:hover {
    color: grey;
}

.navbar-nav > .active > a {
    color: grey;
    border-bottom: 2px solid grey;
}

/* -- Jumbotron styling -- */

.jumbotron {
    color: white;
    background-image: url("/images/gymbikes.png") ;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 75vh;
}

/* --  About Us Section -- */

.about-section {
    border-bottom: 1px solid grey;
}

.about {
    text-align: center;
    height: 200px;
    
}

/* -- Hours and Location container -- */
.hrs-location-section {
    height: 400px;
}

/* -- Opening Hours section -- */

.opening-hrs {
    text-align: left;
    padding-top: 50px;
    border-right: 1px solid grey;
}

.opening-hrs > h2 {
    padding-left: 50px;
    padding-bottom: 25px;
   text-decoration-line: underline;
}

.timetable {
    margin-left: auto;
    margin-right: auto;
}

/* -- Location Section -- */

.location {
    text-align: left;
    padding-top: 50px;
    height: auto;
}

.location > h2 {
    padding-left: 50px;
    padding-bottom: 25px;
    text-decoration-line: underline;
}

.location > p {
    padding-left: 50px;
}

/* -- Footer styling -- 

.footer {
    background-color:#190061;
    color: white;
    margin-top: 5px;
}

.address {
    margin-top: 5px;
}



